*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header{
    background-color:#F4F4F4;
}

.logo{
    width: 150px;
    height: auto;
    margin: 0.4rem;
}

.opciones{
    list-style-type: none;
}

.botonera{
    float: right;
}

.navbar{
    align-items: center;
    display:flex;
}

.servicio{
    display: inline;
    background-color:#2959c7;
    color: white;
    border: 1px dotted black;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.principal{
    display: flex;
    background-color: white;
    text-align: center;
    margin-left: 25%;
}



p{
    display: flex;
}